{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<h3>Save this link to come back and delete at any time!</h3>
<h4>http://127.0.0.1:8000/post/owner/{{post.magic_key}}</h4>
<h3>{{ post }}</h4>
<p>{{ post.submission_time }}</p>
<hr>
<body>{{ post.text }}</body>

<h5>Upvote(s): {{ post.upvotes }} </h5>
<h4><a href="{% url 'upvote' post.id %}">UPVOTE</a></h4>
<h5>Downvote(s): {{ post.downvotes }} </h5>
<h4><a href="{% url 'downvote' post.id %}">DOWNVOTE</a></h4>
<a href="{% url 'delete' post.magic_key %}"><button class="delete_button">Delete Post</button></a>
<br>
<br>
<br>
<a href="{% url 'homepage' %}">Home Page</a>
